# 09. Pandas

### Importando o Pandas

In [1]:
import pandas as pd

In [2]:
#importando dados csv
# file_name = 'Sales2022.csv'
caminho_arquivo =  r'C:\Users\Maycon Rocha\My_Projects\Fundamentos_Python\Sales2022.csv'

data_tipe = {'CustomerNumber': str, 'SalesOrder':str}

df = pd.read_csv(caminho_arquivo, dtype= data_tipe, parse_dates=['SalesDate'])

In [4]:
df.head(2)

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
0,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-01-23,32172210,60,0.00
1,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-02-13,32192966,60,249.12

### Tipo de dados

In [5]:
# df.dtypes

### Selecionando Colunas

In [6]:
df.columns

colunas = ['Country', 'State', 'City', 'PlantName', 'MaterialNumber', 'BusinessLine', 'Category', 'SalesDate',  'SalesOrder', 'Volume', 'Revenue']

df[colunas]

df[['MaterialNumber', 'Category']].head()

   MaterialNumber Category
0  BL01-CA03-1040     CA03
1  BL01-CA03-1040     CA03
2  BL01-CA03-1040     CA03
3  BL01-CA03-1040     CA03
4  BL01-CA03-1040     CA03

### Filtrando dados

In [7]:
# df['PlantName'].unique()

sorocaba_df = df[df['PlantName']=='Sorocaba']
sorocaba_df.head()

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13258,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1039,Lubrificantes,CA03,2020-10-26,32608620,146,305.65
13259,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1039,Lubrificantes,CA03,2021-01-06,32663300,146,133.95
13260,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-04,32171451,120,57.58
13261,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-22,32172133,120,57.58
13262,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-30,32172477,120,57.58

In [8]:
sorocaba_df[sorocaba_df['Revenue']>=1000].head()

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13371,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2021-07-23,32778746,64,4652.00
13373,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2021-08-19,32797848,32,3247.00
13374,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2021-10-25,32837698,88,1257.54
13376,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2022-02-21,32899768,134,1193.00
13379,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2022-06-01,32988723,139,1089.18

In [11]:
sorocaba_df[(sorocaba_df['SalesDate']>='2022-01-01') & (sorocaba_df['SalesDate']<='2022-01-31')].sort_values(by='SalesDate', ascending=False)

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
20565,2491,CUSTOMER 2491,BR,SP,Araraquara,Sorocaba,BL02-CA01-2167,Aditivos,CA01,2022-01-31,32898029,0,828.00
24830,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA09-1063,Lubrificantes,CA09,2022-01-31,32888694,251,227.90
22315,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-01-31,32883619,35,365.05
24101,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-01-31,32883617,60,85.71
25062,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA11-1073,Lubrificantes,CA11,2022-01-31,32894385,458,355.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20899,2494,CUSTOMER 2494,BR,SP,Araraquara,Sorocaba,BL01-CA10-1033,Lubrificantes,CA10,2022-01-03,32890039,95,2743.22
24823,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA09-1063,Lubrificantes,CA09,2022-01-03,32887129,1004,911.60
22433,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2022-01-03,32890781,458,390.72
23067,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA06-1051,Lubrificantes,CA06,2022-01-03,32883721,522,135.60
23068,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA06-1051,Lubrificantes,CA06,2022-01-03,32883775,4698,505.74

### Group by

In [12]:
sorocaba_df.groupby('Category')['Revenue'].sum().sort_values(ascending=False)

Category
CA04    2113560.41
CA06    1538297.66
CA09    1152485.33
CA01     849513.65
CA11     823863.80
CA10     603417.01
CA07     446650.34
CA03     322674.78
CA02     117107.32
CA05      54003.57
CA08       8775.55
Name: Revenue, dtype: float64

In [13]:
sorocaba_df.groupby(['BusinessLine', 'Category'])['Revenue'].sum().sort_values(ascending=False)

BusinessLine   Category
Lubrificantes  CA04        2113560.41
               CA06        1538297.66
               CA09        1152485.33
Aditivos       CA01         849513.65
Lubrificantes  CA11         823863.80
               CA10         603417.01
               CA07         446650.34
               CA03         274446.23
Aditivos       CA02         117107.32
Lubrificantes  CA05          54003.57
Aditivos       CA03          48228.55
Lubrificantes  CA08           8775.55
Name: Revenue, dtype: float64

In [14]:
sorocaba_df_group = sorocaba_df.groupby(['BusinessLine', 'Category'])['Revenue'].sum().sort_values(ascending=False).reset_index()
sorocaba_df_group
# type(sorocaba_df_group)

     BusinessLine Category     Revenue
0   Lubrificantes     CA04  2113560.41
1   Lubrificantes     CA06  1538297.66
2   Lubrificantes     CA09  1152485.33
3        Aditivos     CA01   849513.65
4   Lubrificantes     CA11   823863.80
5   Lubrificantes     CA10   603417.01
6   Lubrificantes     CA07   446650.34
7   Lubrificantes     CA03   274446.23
8        Aditivos     CA02   117107.32
9   Lubrificantes     CA05    54003.57
10       Aditivos     CA03    48228.55
11  Lubrificantes     CA08     8775.55

In [15]:
type(sorocaba_df_group)

pandas.core.frame.DataFrame

### Tabelas dinâmicas

In [16]:
df.pivot_table(
    index=  'State',
    columns= 'BusinessLine',
    values='Revenue',
    aggfunc='sum',
    margins= True,
    margins_name= 'Total'
    
)

BusinessLine    Aditivos  Lubrificantes        Total
State
BA              35806.35      340532.10    376338.45
GO             359698.84     9182677.62   9542376.46
MG             326249.94     2021472.13   2347722.07
PR             557299.90     4740469.57   5297769.47
SC             327379.73     2738307.30   3065687.03
SP            1014849.52     7015499.90   8030349.42
Total         2621284.28    26038958.62  28660242.90